*{
    text-decoration: none;
}
 {
    margin: 0;
}

.join_logo {
    width: 100px;
    height: 121px;
    margin-top: 80px;
    margin-left: 77px;
}

.header_right {
    display: flex;
    align-items: baseline;
    gap: 35px;
    margin-top: 67px;
}

.header_content {
    display: flex;
    justify-content: space-between;
 }

.content{
    width: 100%;
    max-width: clamp(960px, 80%, 1440px);
    margin: 0 auto;
    height: 95vh;
 }

 h1{
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 61px;
    font-weight: bold;
    font-weight: 700;
 }

.Sign_btn{
    padding: 15px 16px 15px 16px;
    width: 91px;
}

.btn{
    height: 49px;
    width: 91px;
    background-color: rgb(42, 54, 71);
    gap: 10px;
    border-radius: 8px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border: 0;
    font-size: 16px;
 }

 .guest_btn{
    height: 49px;
    background-color: rgba(255, 255, 255, 1);
    gap: 10px;
    border-radius: 8px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgba(42, 54, 71, 1);
    border: 1px solid #D1D1D1;
    font-size: 21px;
    font-weight: 700;
    font-weight: bold;
    padding: 15px 24px 15px 24px;
 }

 .login_btn{
    padding: 15px 24px 15px 24px;
    width: 110px;
 }

 .btn_group{
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 35px;
 }

.no_user{
    font-size: 24px;
 }

 .login{
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
    height: 449px;
    width: 652px;
    border-radius: 30px;
    margin-top: calc(287.5px - 200px);
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 194px;
    position: relative;
 }

.login_form{
    height: 152px;
    width: 422px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field{
    height: 48px;
    width: 422px;
    align-content: center;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px 21px 12px 21px;
}
input{
    width: 380px;
    height: 24px;
    border: none;
}
.input_icon{
    position: absolute;
}
.footer_content{
    display: flex;
    justify-content: center;
    padding: 8px;
    gap: 16px;

}
.footer_content a{
    font-size: 16px;
    font-weight: 400;
    color: rgba(168, 168, 168, 1);
}